/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  font-family: "Work Sans", sans-serif;
}

ul {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
}

.button-class {
  font-family: inherit;
  padding: 10px;
  max-width: 500px;
  margin: 3px;
  background-color: #0073e5;
  color: #f5f5f5;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button-class:hover,
.button-class:focus {
  cursor: pointer;
  opacity: 0.8;
}
