/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



body {
  font-family: "Work Sans", sans-serif;
}
ul {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
}
